<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEIC Converter</title>
    <link rel="stylesheet" href="/static/minstyle.io.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"">
</head>

<body>
    <div class="container">
        <div class="row ms-text-center">
            <header>
                <h1>Convert HEIC images to png</h1>
                <p>This is a simple tool to convert HEIC images to png.</p>
                <br>
                <p>There is no limit to the number of images that you can submit, however the maximum size for all of the images after processing is 32MB. Generally this means that you can upload about 3 iPhone 12 Pro Max HEIC images at a time.</p>
            </header>
        </div>
        <div class="row ms-text-center">
            <main>
                <form method="post" enctype="multipart/form-data" onsubmit="handleSubmit()">
                    <div class="ms-form-group">
                        <input style="text-align-last: center;" type="file" name="file" id="file" accept=".heic,.heif"
                            multiple>
                        <input class="ms-success" type="submit" value="Upload Image(s)">
                    </div>
                </form>
                <p id="received-text"></p>
                <script>
                    function handleSubmit() {
                        document.getElementById("received-text").innerHTML = "Uploading and converting, please be patient and refrain from refreshing the page or hitting upload again.";
                    }
                </script>
            </main>
        </div>

        <div class="row ms-text-center">
            <footer>
                <p>
                    Source Available on <a href="https://github.com/rdrescher909/HEIC-Converter" target="_blank">GitHub</a><br>

                    Disclaimer: Use this tool at your own risk. This tool is provided under the <a href="https://choosealicense.com/licenses/mit/" target="_blank">MIT License</a>.<br>

                    Copyright 2022 <a href="https://github.com/rdrescher909/" target="_blank">Robert Drescher</a> <br>
                </p>
            </footer>
        </div>
    </div>
</body>

</html>