<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEIC Converter</title>
</head>
<body>
    <header>
        <h1>Convert heic to png</h1>
        <p>
            This is a simple tool to convert heic files to png.
        </p>
    </header>
    <main>
        <form method="post" enctype="multipart/form-data">
            <label for="file">Upload file</label>
            <input type="file" name="file" id="file">
            <input type="submit" value="Upload Image">
        </form>
    </main>
    <footer>
        <p>
            Made by Robert Drescher
            Source Available on <a href="https://github.com/rdrescher909/heicconverter">GitHub</a>
        </p>
    </footer>
</body>
</html>